<%- include("../includes/header.ejs") %> <%- include("../includes/nav.ejs") %>

<div class="cart-div">
  <% if(products.length > 0) { %>
  <h3>Products in cart</h3>
  <div class="cart-products-div">
    <!-- here getting index of element in for...of loop  -->
    <% for(const[index,product] of products.entries()) { %>
    <div class="product-div">
      <div class="product">
        <div class="img-div">
          <img src="<%= product.img %>" />
        </div>
        <div class="info">
          <h3><%= product.title %></h3>
          <p><%= product.desc %></p>
          <p class="price">Price: <span>$<%= product.price %></span></p>
        </div>
        <div class="cart-actions">
          <p>Quantity</p>
          <div class="quantity">
            <p class="before">X</p>
            <p><%= quantityArr[index] %></p>
          </div>
        </div>
      </div>
      <div class="product-actions">
        <a href="/shop/products" class="btn">Go back to Products</a>

        <form method="POST" action="/shop/cart/delete">
          <input type="hidden" value="<%= product.id %>" name="productId"/>
          <button type="submit" class="btn danger">Remove</button>
        </form>

      </div>
    </div>
    <% } %>
  </div>
  <hr />

  <div class="cart-total-div">
    <h4>Order worth</h4>

    <!-- superhuman logic  -->
    <% let totalPrice = 0 %> <% for(const[index,product] of products.entries())
    { %> <% totalPrice = totalPrice + product.price * quantityArr[index] %> <% }
    %>

    <h4 class="charge">$<%= +totalPrice %></h4>
    <h4>Delivery charges</h4>
    <h4 class="charge delivery-charge">+ $5</h4>
    <h4>Price to Pay</h4>
    <h3 class="charge total-charge">$<%= +totalPrice+5 %></h3>
  </div>

  <div class="cart-checkout">
    <a href="/shop/products" class="btn">Browse more products</a>
    <button class="btn success">Checkout</button>
  </div>
  <% } else { %>
  <div class="empty-cart-div">
    <img src="/assets/empty cart.png" alt="empty-cart" />
    <h2>Cart is empty, try adding something !</h2>
  </div>
  <% } %>
</div>

<%- include("../includes/footer.ejs") %>
